name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Correctness Grade
      id: correctness-grade
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Correctness Grade
        setup-command: ''
        command: make grade
        timeout: 10
        max-score: 59
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        CORRECTNESS-GRADE_RESULTS: "${{steps.correctness-grade.outputs.result}}"
      with:
        runners: correctness-grade
